Checks: 'clang-diagnostic-*, clang-analyzer-*, cppcoreguidelines-*, -cppcoreguidelines-avoid-magic-numbers, -cppcoreguidelines-pro-type-cstyle-cast'
WarningsAsErrors: true
AnalyzeTemporaryDtors: false
