/**

!/.gitignore

# Files
!.zshrc
!.bashrc
!.tmux.conf
!.vimrc
!.xinitrc
!.xprofile
!fix_corrupt
!common_conf

# Directories
!.vim**/**
!.tmux**/**
!.doom.d**/**
!.themes**/**
!.zprofile
!Wallpapers**/**
!scripts**/**

# Sub directories in .config
!/.config/
/.config/**
!/.config/autostart**/**
!/.config/nvim**/**
!/.config/lvim**/**
!/.config/tmux**/**
!/.config/conky**/**
!/.config/gtk-3.0**/**
!/.config/gtk-4.0**/**
!/.config/terminator**/**
!/.config/termulauncher**/**
!/.config/termxfce4**/**
!/.config/termsystemd**/**
!/.config/termyakuakerc**/**
!/.config/termpicom**/**
!/.config/sway
!/.config/i3
